html{
    height: 100%;
    width: 100%;
    display: table;
}

body {
    text-rendering: optimizelegibility;
    display: table-cell;
    vertical-align: middle;
}

.copy{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    color: #fff;
}

.copy a{
    color: #cccccc
}

.member-login{
    text-align: center;
    margin-bottom: 30px;
}

.member-login span{
    background: #333333;
    background: rgba(0, 0,0,0.5);
    padding: 20px;
    border-radius: 100px;
    color: #fff;
    font-size: 40px;
}

.member-login .lead{
  margin-top: 20px;
  margin-bottom: 0;
}

.browsehappy{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    background: #111111;
    display: table;
}

.browsehappy p {
    display: table-cell;
    vertical-align: middle;
    color: #DDDDDD;
}

.browsehappy p span{
    font-size: 75px;
    color: #FF4136;
    margin-bottom: 20px;
}

.browsehappy a{
    color: #0074D9;
}

@media(max-width:767px){
    .member-login{
        text-align: center;
        margin-bottom: 10px;
    }

    .member-login span{
        padding: 10px;
        border-radius: 100px;
        font-size: 30px;
    }

    .member-login .lead{
        margin-top: 10px;
    }
}

/* Prevent Mobile Devices from Zooming to form fields */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}